@model OnlineShop.ProductService.Products[]

@if (Model.Count() != 0)
{
    foreach (var i in Model)
    {
        <div class="col-md-4">
            @if (i.ImageLink != null)
            {
                <img class="pull-left" src="http://res.cloudinary.com/igorsulzhich/image/upload/c_fill,h_160,h_160/@i.ImageLink"> }
            <div>
                <h4>@i.Name</h4>
                <p>Цена: @i.Price руб.</p>
                <p>Описание:<br />@i.Description </p>
                @using (Ajax.BeginForm("addToCart", "cart", new AjaxOptions { UpdateTargetId = "results" }))
                {
                    <div>
                        @Html.Hidden("productId", i.Id)
                        <input type="submit" class="btn btn-success btn-sm" value="Добавить в корзину" />
                    </div>
                }
            </div>
        </div>
    }
}
