@model OnlineShop.ProductService.Products[]
@{
    ViewBag.Title = "Главная";
}
@if (Model.Count() != 0)
{
    foreach (var i in Model)
    {
        <div> 
            @i.Name <br/>
            @i.Price <br />
            @i.Description <br />
            @if (i.ImageLink != null)
            {
            <img class="" src="http://res.cloudinary.com/igorsulzhich/image/upload/@i.ImageLink"> }
        </div>
        <br/>
    }
}
