@model OnlineShop.ProductService.Products[]
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (var i in Model)
    {
    <div> 
        @i.Name <br/>
        @i.Price <br />
        @i.Description <br />
    </div>
    }
</body>
</html>
