@{
    ViewBag.Title = "Добавление товара";
}

<h2>Добавление продукта</h2>
@Html.ValidationSummary("", new { @class = "results" })
<hr />
@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Partial("_form")
}

