@model OnlineShop.Entities.Cart
@{
    var sum = Model.Lines.Sum(x => x.Quantity);
}
<div id="results" class="navbar">
    <a class="btn btn-primary navbar-btn" href="/cart/index">Продолжить покупки</a><br/>
    @if (sum != 0)
    {
        <span>Число продуктов в корзине:</span>
        <b>@sum</b>
        <span>Итоговая сумма:</span>
        <b>@Model.ComputeTotalValue().ToString("# руб. ")</b>
    }
    else
    {
        <b>Корзина пуста </b>
    }
</div>
